interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://erccportal.jrc.ec.europa.eu/API/ERCC/Maps/GetLatestDailyMapRss
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"yes\"?><rss xmlns:ercc=\"http://erccportal.jrc.ec.europa.eu/\"
        xmlns:content=\"http://purl.org/rss/1.0/modules/content/\" version=\"2.0\">\r\n
        \ <channel>\r\n    <title>ERCC - Emergency Response Coordination Centre -
        DG ECHO Daily Maps</title>\r\n    <link>https://erccportal.jrc.ec.europa.eu</link>\r\n
        \   <description>This feed contains the latest maps published by the Emergency
        Response Coordination Centre (ERCC). The maps are produced by the Joint Research
        Centre of the European Commission and by ERCC. The daily map provides an overview
        of a significant event or situation on a daily basis. The maps are related
        to DG ECHO humanitarian and civil protection interventions or depict events
        that are expected to have humanitarian consequences.</description>\r\n    <language>en-us</language>\r\n
        \   <lastBuildDate>Fri, 24 Jul 2026 03:27:37 GMT</lastBuildDate>\r\n    <item>\r\n
        \     <title>ECHO Daily Map of 23 July 2026</title>\r\n      <description><![CDATA[<p>El
        Ni&ntilde;o | Seasonal temperature and rainfall forecast (August-October 2026)</p>]]></description>\r\n
        \     <ercc:pubDate>Thu, 23 Jul 2026 18:20:59 GMT</ercc:pubDate>\r\n      <link>https://erccportal.jrc.ec.europa.eu/ECHOProducts//Maps#/maps/5735</link>\r\n
        \     <guid>ERCC_Map_5735</guid>\r\n      <image>\r\n        <url>https://erccportal.jrc.ec.europa.eu/API/ERCC/Maps/DownloadPublicMap?contentItemID=5735&amp;fileN=ImageFile&amp;forceDownload=False</url>\r\n
        \       <title>ECHO Daily Map of 23 July 2026</title>\r\n        <link>https://erccportal.jrc.ec.europa.eu/ECHOProducts//Maps#/maps/5735</link>\r\n
        \     </image>\r\n      <ercc:eventTypes>Heat Wave, Severe Weather</ercc:eventTypes>\r\n
        \   </item>\r\n    <item>\r\n      <title>ECHO Daily Map of 22 July 2026</title>\r\n
        \     <description><![CDATA[<p>Europe| Wildfires overview and EU response
        since 1 July</p>]]></description>\r\n      <ercc:pubDate>Wed, 22 Jul 2026
        17:59:25 GMT</ercc:pubDate>\r\n      <link>https://erccportal.jrc.ec.europa.eu/ECHOProducts//Maps#/maps/5734</link>\r\n
        \     <guid>ERCC_Map_5734</guid>\r\n      <image>\r\n        <url>https://erccportal.jrc.ec.europa.eu/API/ERCC/Maps/DownloadPublicMap?contentItemID=5734&amp;fileN=ImageFile&amp;forceDownload=False</url>\r\n
        \       <title>ECHO Daily Map of 22 July 2026</title>\r\n        <link>https://erccportal.jrc.ec.europa.eu/ECHOProducts//Maps#/maps/5734</link>\r\n
        \     </image>\r\n      <ercc:countries>ESP, FRA, GRC, HRV, ITA, PRT</ercc:countries>\r\n
        \     <ercc:eventTypes>Wild fire</ercc:eventTypes>\r\n    </item>\r\n    <item>\r\n
        \     <title>ECHO Daily Map of 20 July 2026</title>\r\n      <description><![CDATA[<p>Peru
        | 5.5 M Earthquake of 19 July &nbsp;</p>]]></description>\r\n      <ercc:pubDate>Mon,
        20 Jul 2026 17:07:32 GMT</ercc:pubDate>\r\n      <link>https://erccportal.jrc.ec.europa.eu/ECHOProducts//Maps#/maps/5732</link>\r\n
        \     <guid>ERCC_Map_5732</guid>\r\n      <image>\r\n        <url>https://erccportal.jrc.ec.europa.eu/API/ERCC/Maps/DownloadPublicMap?contentItemID=5732&amp;fileN=ImageFile&amp;forceDownload=False</url>\r\n
        \       <title>ECHO Daily Map of 20 July 2026</title>\r\n        <link>https://erccportal.jrc.ec.europa.eu/ECHOProducts//Maps#/maps/5732</link>\r\n
        \     </image>\r\n      <ercc:mainCountry>Peru</ercc:mainCountry>\r\n      <ercc:eventTypes>Earthquake</ercc:eventTypes>\r\n
        \   </item>\r\n    <item>\r\n      <title>ECHO Daily Map of 17 July 2026</title>\r\n
        \     <description><![CDATA[<p>World | Temperature anomalies in June 2026</p>]]></description>\r\n
        \     <ercc:pubDate>Fri, 17 Jul 2026 14:52:49 GMT</ercc:pubDate>\r\n      <link>https://erccportal.jrc.ec.europa.eu/ECHOProducts//Maps#/maps/5731</link>\r\n
        \     <guid>ERCC_Map_5731</guid>\r\n      <i[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://erccportal.jrc.ec.europa.eu/API/ERCC/Maps/does-not-exist
  response:
    body:
      string: '{"Message":"No HTTP resource was found that matches the request URI
        ''http://erccportal.jrc.ec.europa.eu/API/ERCC/Maps/does-not-exist''.","MessageDetail":"No
        action was found on the controller ''Maps'' that matches the name ''does-not-exist''."}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 404
      message: Not Found
version: 1
