interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.gdacs.org/xml/rss_24h.xml
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<rss version=\"2.0\"
        xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\"
        xmlns:gdacs=\"http://www.gdacs.org\" xmlns:glide=\"http://glidenumber.net\"
        xmlns:georss=\"http://www.georss.org/georss\" xmlns:atom=\"http://www.w3.org/2005/Atom\">\r\n
        \ <channel>\r\n    <title>GDACS RSS information</title>\r\n    <link>https://www.gdacs.org/</link>\r\n
        \   <copyright>public domain</copyright>\r\n    <description>Near real-time
        notification about natural disaster with a potential humanitarian impact</description>\r\n
        \   <managingEditor>stefano.paris@ext.ec.europa.eu</managingEditor>\r\n    <!--Records
        number 49-->\r\n    <!--Start 7/4/2026 10:15:56 AM-->\r\n    <!--=Start 7/4/2026
        10:15:56 AM-->\r\n    <webMaster>stefano.paris@ext.ec.europa.eu</webMaster>\r\n
        \   <pubDate>Sat, 04 Jul 2026 08:15:56 GMT</pubDate>\r\n    <atom:link href=\"https://www.gdacs.org/xml/rss_24h.xml\"
        rel=\"self\" type=\"application/rss+xml\" />\r\n    <item>\r\n      <title>Red
        notification for tropical cyclone BAVI-26. Population affected by Category
        1 (120 km/h) wind speeds or higher is 0.141 million .</title>\r\n      <description>From
        01/07/2026 to 04/07/2026, a Hurricane/Typhoon &gt; 74 mph (maximum wind speed
        of 278 km/h) BAVI-26 was active in NWPacific. The cyclone affects these countries:
        Northern Mariana Islands, Guam (vulnerability Medium). Estimated population
        affected by category 1 (120 km/h) wind speeds or higher is 0.141 million .</description>\r\n
        \     <enclosure type=\"image/png\" length=\"1\" url=\"https://www.gdacs.org/contentdata/resources/imgtemp/gdacs/tc/1001279/1001279_14_tn.png\"
        />\r\n      <gdacs:temporary>false</gdacs:temporary>\r\n      <link>https://www.gdacs.org/report.aspx?eventtype=TC&amp;eventid=1001279</link>\r\n
        \     <pubDate>Wed, 01 Jul 2026 01:51:41 GMT</pubDate>\r\n      <gdacs:dateadded>Wed,
        01 Jul 2026 01:51:41 GMT</gdacs:dateadded>\r\n      <gdacs:datemodified>Sat,
        04 Jul 2026 08:05:09 GMT</gdacs:datemodified>\r\n      <gdacs:iscurrent>true</gdacs:iscurrent>\r\n
        \     <gdacs:fromdate>Wed, 01 Jul 2026 00:00:00 GMT</gdacs:fromdate>\r\n      <gdacs:todate>Sat,
        04 Jul 2026 06:00:00 GMT</gdacs:todate>\r\n      <gdacs:durationinweek>0</gdacs:durationinweek>\r\n
        \     <gdacs:year>2026</gdacs:year>\r\n      <dc:subject>TC3</dc:subject>\r\n
        \     <guid isPermaLink=\"false\">TC1001279</guid>\r\n      <geo:Point>\r\n
        \       <geo:lat>12.5</geo:lat>\r\n        <geo:long>150.8</geo:long>\r\n
        \     </geo:Point>\r\n      <!--gdacs:bbox format = lonmin lonmax latmin latmax-->\r\n
        \     <gdacs:bbox>126.68514675718 152.68514675718 2.99557303745841 28.9955730374584</gdacs:bbox>\r\n
        \     <georss:point>12.5 150.8</georss:point>\r\n      <gdacs:cap>https://www.gdacs.org/contentdata/resources/TC/1001279/cap_1001279.xml</gdacs:cap>\r\n
        \     <gdacs:icon>https://www.gdacs.org/Images/gdacs_icons/alerts/Red/TC.png</gdacs:icon>\r\n
        \     <gdacs:version>14</gdacs:version>\r\n      <gdacs:eventtype>TC</gdacs:eventtype>\r\n
        \     <gdacs:alertlevel>Red</gdacs:alertlevel>\r\n      <gdacs:alertscore>3</gdacs:alertscore>\r\n
        \     <gdacs:episodealertlevel>Red</gdacs:episodealertlevel>\r\n      <gdacs:episodealertscore>3</gdacs:episodealertscore>\r\n
        \     <gdacs:eventname>BAVI-26</gdacs:eventname>\r\n      <gdacs:eventid>1001279</gdacs:eventid>\r\n
        \     <gdacs:episodeid>14</gdacs:episodeid>\r\n      <gdacs:calculationtype>tropicalcyclonewithstormsurge</gdacs:calculationtype>\r\n
        \     <gdacs:severity unit=\"km/h\" value=\"277.776\">Hurricane/Typhoon &gt;
        74 mph (maximum wind speed of 269 km/h)</gdacs:severity>\r\n      <gdacs:population
        unit=\"Pop74\" value=\"140768\">Population affected by Category 1 (120 km/h)
        wind speeds or higher is 0.141 million </gdacs:population>\r\n      <gdacs:vulnerability
        value=\"2\">Medium</gdacs:vulnerability>\r\n      <gdacs:iso3>GUM</gdacs:iso3>\r\n
        \     <gdacs:country>Northern Mariana Islands, Guam</gdacs:country>\r\n      <gdacs:glide
        />\r\n      <gdacs:mapimage />\r\n      <gdacs:maplink />\r\n      <gdacs:gtsimage
        />\r\n      <gdacs:gtslink />\r\n      <gdacs:resources>\r\n        <gdacs:resource
        id=\"event_rss\" version=\"0\" source=\"EC-JRC\" url=\"https://www.gdacs.org//datareport/resources/TC/1001279/rss_1001279.xml\"
        type=\"rss\">\r\n          <gdacs:title>Event in rss format</gdacs:title>\r\n
        \         <gdacs:description>Joint Research Center of the European Commission</gdacs:description>\r\n
        \         <gdacs:acknowledgements>Copyright notice: European Union (CC BY
        4.0), reuse is allowed, provided appropriate credit to GDACS is given.</gdacs:acknowledgements>\r\n
        \         <gdacs:accesslevel>Public</gdacs:accesslevel>\r\n        </gdacs:resource>\r\n
        \     </gdacs:resources>\r\n    </item>\r\n    <item>\r\n      <title>Green
        earthquake (Magnitude 4.8M, Depth:10km) in Southeast Of Honshu, Japan 04/07/2026
        05:03 UTC, No people affected in 100km.</title>\r\n      <description>On 7/4/2026
        5:03:52 AM, an earthquake occurred in Southeast Of Honshu, Japan potentially
        affecting No people affected in 100km. The earthquake had Magnitude 4.8M,
        Depth:10km.</description>\r\n      <enclosure type=\"image/png\" length=\"1\"
        url=\"https://www.gdacs.org/contentdata/resources/imgtemp/gdacs/eq/eq1716183_1.png\"
        />\r\n      <gdacs:temporary>false</gdacs:temporary>\r\n      <link>https://www.gdacs.org/report.aspx?eventtype=EQ&amp;eventid=1550054</link>\r\n
        \     <pubDate>Sat, 04 Jul 2026 05:27:43 GMT</pubDate>\r\n      <gdacs:dateadded>Sat,
        04 Jul 2026 05:27:43 GMT</gdacs:dateadded>\r\n      <gdacs:datemodified>Sat,
  [...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.gdacs.org/xml/does-not-exist.xml
  response:
    body:
      string: "\r\n\r\n<!DOCTYPE html>\r\n\r\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\r\n<head><title>\r\n\tGDACS
        Admin section\r\n</title><link href=\"/Content/bootstrap.min.css\" rel=\"stylesheet\"
        /><link href=\"/Styles/gdacs_2.0.css\" rel=\"stylesheet\" /><meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0\" /><link rel=\"stylesheet\"
        media=\"(min-width: 768px) and (max-width: 991px)\" href=\"../Styles/gdacs_device_2.0.css\"
        /><link rel=\"stylesheet\" media=\"(max-width: 768px)\" href=\"../Styles/gdacs_minidevice_2.0.css\"
        />\r\n    <script type=\"text/javascript\" src=\"../Scripts/jquery-3.6.4.min.js\"></script>\r\n
        \   <script type=\"text/javascript\" src=\"../Scripts/bootstrap.bundle.min.js\"></script>\r\n
        \   <script src=\"https://webtools.europa.eu/load.js\" defer=\"defer\"></script>\r\n
        \   <script type=\"application/json\">\r\n    {\r\n        \"utility\":\"analytics\",\r\n
        \       \"siteID\":\"770a3ada-ebea-420b-923a-c6490acb21ab\",\r\n        \"sitePath\":[\"www.gdacs.org\"],\r\n
        \       \"instance\":\"ec\",\r\n        \"mode\":\"manual\"\r\n    }\r\n    </script>\r\n\t<script
        type=\"application/json\">\r\n\t{\r\n\t\t\"utility\" : \"cck\",\r\n\t\t\"url\":
        {\r\n\t\t\t\"en\": \"https://commission.europa.eu/cookies-policy_en\",\r\n\t\t\t\"de\":
        \"https://commission.europa.eu/cookies-policy_de\"\r\n\t\t}\r\n\t}\r\n\t</script>\r\n
        \   \r\n\r\n\r\n\r\n  <style type=\"text/css\">\r\n        .navbar-header{color:
        #9bc1ce; background-color:#69A7C3; }\r\n        .navbar-footer{color: #9bc1ce;
        background-color:transparent;border:none; border-bottom:none;border-color:transparent;
        }\r\n        .navbar-report{color: #6d9baf; border-bottom:1px solid; border-color:#6d9baf;min-height:
        40px;margin-bottom:15px}\r\n        .navbar-light .navbar-nav .nav-link:focus,
        .navbar-light .navbar-nav .nav-link:hover{color: #ffffff; text-decoration:
        underline;}\r\n        .navbar-light .navbar-nav .nav-link{color:#c5d5d8}\r\n
        \       .navbar-light .navbar-nav .show > .nav-link, .na[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.gdacs.org/xml/rss_7d.xml
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<rss version=\"2.0\"
        xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\"
        xmlns:gdacs=\"http://www.gdacs.org\" xmlns:glide=\"http://glidenumber.net\"
        xmlns:georss=\"http://www.georss.org/georss\" xmlns:atom=\"http://www.w3.org/2005/Atom\">\[...]
