interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.who.int/api/news/diseaseoutbreaknews?$orderby=PublicationDateAndTime%20desc&$top=25
  response:
    body:
      string: '{"@odata.context":"https://www.who.int/api/news/$metadata#diseaseoutbreaknews(Id,LastModified,PublicationDate,DateCreated,IncludeInSitemap,SystemSourceKey,UrlName,ItemDefaultUrl,Response,FurtherInformation,Summary,PublicationDateAndTime,TitleSuffix,UseOverrideTitle,Title,Epidemiology,OverrideTitle,Advice,Assessment,Overview,DonId,Provider)","value":[{"Id":"608d728d-b078-4614-9ccf-682229ebfee8","LastModified":"2026-07-03T15:32:15Z","PublicationDate":"2026-07-03T15:31:57Z","DateCreated":"2026-07-03T15:32:15Z","IncludeInSitemap":true,"SystemSourceKey":null,"UrlName":"2026-DON612","ItemDefaultUrl":"/2026-DON612","Response":"<p>Health
        authorities in the Democratic Republic of the Congo and Uganda, in collaboration
        with WHO and partners, are implementing extensive public health measures including
        implementing the continental response plan, engaging donors and mobilizing
        additional resources to address critical funding gaps and sustain response
        operations across affected and at-risk areas.</p><p>For further information
        about public health response actions by the respective Ministry of Health,
        WHO, and partners, please refer to the latest situation reports published
        by the WHO Regional Office for Africa <a href=\"https://www.afro.who.int/health-topics/ebola-disease/outbreak-drc-26\">Ebola
        Bundibugyo Virus Disease Outbreak Democratic Republic of the Congo | Uganda
        Weekly External Situation Report | WHO | Regional Office for Africa&nbsp;</a></p>","FurtherInformation":"<p></p><p><strong
        style=\"background-color:transparent;text-align:inherit;text-transform:inherit;word-spacing:normal;caret-color:auto;white-space:inherit;\">Current
        outbreak: declarations and status</strong></p><ul type=\"disc\"><li data-list=\"0\"
        data-level=\"1\"><a href=\"https://www.who.int/news/item/05-06-2026-africa-cdc-and-who-launch-joint-continental-ebola-response-plan\">Africa
        CDC and WHO launch joint continental Ebola response plan</a></li><li data-list=\"0\"
        data-level=\"1\"><a href=\"https://www.afro.who.int/publications/bundibugyo-ebola-virus-continental-preparedness-and-response-plan-june-november-2026\">Bundibugyo
        Ebola virus | Continental preparedness and response plan: June-[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://www.who.int/api/news/diseaseoutbreaknews?$orderby=NotAField%20desc&$top=25
  response:
    body:
      string: '{"error":{"code":"BadRequest","message":"Could not find a property
        named ''NotAField'' on type ''Telerik.Sitefinity.DynamicTypes.Model.WHOEmergencies.DiseaseOutbreakNews''."}}'
    headers:
      content-type:
      - application/json; odata.metadata=minimal
      odata-version:
      - '4.0'
    status:
      code: 400
      message: Bad Request
version: 1
